@font-face {
	font-family: "chulalongkorn";
	src: url(Chula-Fonts\CHULALONGKORNReg.otf);
}
/* navigation */
#navigation {
	background:#ffffff;
	border-right:1px solid #ffffff;
	margin:0 auto;
	width:960px;
	height:40px;
	list-style:none;
}
#navigation li {
	font-family: 'chulalongkorn';
	border-left:1px solid #999;
	float:left;
	width:149px;
	list-style:none;
}
#navigation a {
	color:#555;
	display:block;
	line-height:40px;
	text-align:center;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}